@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}


.wrapper{
  position: fixed;
  width: 100%;
  z-index: 3;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}


.wrapper_black{
 background-color: black;
}

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.content .logo a span, 
span {
    color: rgb(49, 212, 57);
}

.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover,
.wrapper .user-icon:hover,
.wrapper .user-icon a:hover {
    color: rgb(49, 212, 57);
}
.wrapper .user-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .user-icon a{
    color: #fff;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.back_black{
    background: rgb(0,0,0);
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/*Text*/
.dummy-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.dummy-text h2{
   font-size: 45px;
   margin: 5px 0;
}


/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  .links_black{
    background: rgb(0, 0, 0);
  }

  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }

}

@media screen and (max-width: 360px){
    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .wrapper .search-box input{
      padding-right: 30px;
    }

    .dummy-text{
        top: 60%;
    }
  
  }



  /* BG PRINCIPAL */

  .container{
      height: 100vh;
      background-image: url(img/Banner-SiteWEB.png);
      background-size: cover;
      background-position: center center;
      padding: 0.26rem 0.75rem 0 0.75rem;
  }

  @media screen and (max-width: 900px){

    .container{
        background-image: url(img/BannerMobile-SiteWEB.png);
    }

  }


  /* ************************** */



  /* Sessão filmes */

  .row__poster {
      width: 100%;
      object-fit: contain;
      max-height: 100px;
      margin-right: 10px;
      transition: transform 450ms;
  }

  .row__posters{
      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 20px;
  }

  .row__poster:hover{
      transform: scale(1.08);
  }

  .row__posters::-webkit-scrollbar{
    display: none;
  }

  .row__posterLarge{
    max-height: 250px;
  }

  .row__posterLarge:hover{
    transform: scale(1.10);
  }

  .row{
      color: white;
      margin-left: 20px;
      margin-top: 20px;
  }


  /* FOOTER */
 
  footer{
      background: rgb(12, 12, 12);
      height: auto;
      width: 100%;
      font-family: "Open Sans";
      padding-top: 40px;
      padding-bottom: 40px;
      color: #fff;
  }

  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }

  .footer-content h3{
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
      margin-bottom: 20px;
  }

  .footer-content p{
      max-width: 500px;
      margin: 5px auto;
      line-height: 28px;
      font-size: 14px;
  }

  .footer-bottom{
      background: #000;
      width: 100%;
      padding: 20px 0;
      text-align: center;
  }

  .footer-bottom{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }

  .footer-bottom span{
      text-transform: uppercase;
      opacity: .99;
      font-weight: 200;
  }